*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
nav{
    height: 80px;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;
    display: flex;
    
    
}
nav >h1{
    margin-right: 100px;
}
nav >ul{
    display: flex;
    gap: 20px;
}
nav >ul >li{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

main{
    height: 300px;
    background-color:rgba(187, 182, 182, 0.43);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main >.card{
    height: 250px;
    width: 350px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 4px 6px black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card>img{
    height: 150px;
   
}
section{
    height: 250px;
    background-color: bisque;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.map
{
    height: 250px;
    

}
iframe{
    height: 100%;
    width: 100%;
}

.contact{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: cadetblue;
}

.contact >.inner{
    height: 70%;
    width: 80%;
    /*border: 1px solid black; */

    background-color: white;
    padding: 20px 40px;
    position: relative;

    
}
.inner >form > input{
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    
}
.inner > form {
    display: flex;
    flex-direction: column;
    align-items: center;  /* centers the button horizontally */
    
}
form >button{
    background-color: grey;
    padding: 10px 30px;
    color: white;
    border: none;

    

}

footer{
  height: 100%;
    width: 100%;
    background-color: black;
    color: white;
     display: flex;
    justify-content: center;
    align-items: center;
   
}
footer >p{
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;



}